{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 55.88989172593146,
        "longitude": 37.67801570931625,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "\u041d\u0430\u0448 \u0434\u043e\u043c",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null,
        "currency": "RUB"
    }
}